---
interface Props {
  title?: string;
}

const BaseTitle = "Studiokjplore";

const { title } = Astro.props;

const computed_title = (title?: string) => {
  return title?.length ? `- ${title}` : "";
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{BaseTitle}{computed_title(title)}</title>
    <slot name="meta" />
  </head>
  <body>
    <h1><a href="/">{BaseTitle}</a>{computed_title(title)}</h1>
    <slot />
  </body>
</html>
